.pics{
    background-color: red;
    width: 50%;
    height: 50%;
    float: left;
    background-size: cover;
}

#textHolder{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 50, 0, 0.8);
    border-radius: 10px;
    padding: 20px;
}

.bigFont{font-size: 25px;}

#kozoskep{
    width: 400px;
    padding-left: 50px;
    margin: auto;
}

h1{text-align: center;
font-size: 40px;
font-weight: normal;
font-family: 'Gelasio', serif;}
h2{
    font-weight: normal;
    text-align: center;
    font-family: 'Gelasio', serif;
}

#first{
    background-image: url(3101925.png);
}

#second{
    background-image: url(3101940.png);
}

#third{
    background-image: url(3101941.png);
}

#fourth{
    background-image: url(800x500.jpg);
}